{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% includeCssResource "retour/css/Retour.css" %}
{% includeJsResource "retour/js/Retour.js" %}

{% set title = craft.retour.getPluginName() %}

{% set docsUrl = "https://github.com/nystudio107/retour/blob/master/README.md" %}

{% set retourSections = {
    redirects:      { label: "Redirects"|t, url: url('retour/redirects') },
    statistics:     { label: "Statistics"|t, url: url('retour/statistics') },
    settings:       { label: "Settings"|t, url: url('retour/settings') },
} %}

{% set crumbs = [
    { label: craft.retour.getPluginName(), url: url('retour') },
    { label: "Redirects"|t, url: url('retour/redirects') },
] %}

{% if craft.app.version < 2.5 %}
    {% set tabs = retourSections %}
    {% set selectedTab = 'redirects' %}
{% else %}
    {% set subnav = retourSections %}
    {% set selectedSubnavItem = 'redirects' %}
{% endif %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ url('retour/new') }}" class="btn submit add icon">{{ "New Static Redirect"|t }}</a>
    </div>
{% endset %}

{% set content %}

        {% if tabs is defined %}
            {% include "_includes/tabs" %}
        {% endif %}

        {% set matchesList = craft.retour.getMatchesList() %}

<!-- Static Redirects -->

        <h2>{{ "Static Redirects" |t }}</h2>

        {% set redirects = craft.retour.getStaticRedirects() %}
        {% if redirects|length %}
            <div class="tableview">
                <table id="static-redirects" class="data fullwidth">
                    <thead>
                        <th scope="col">{{ "Legacy URL Pattern"|t }}</th>
                        <th scope="col">{{ "Redirect To"|t }}</th>
                        <th scope="col">{{ "Pattern Match Type"|t }}</th>
                        <th scope="col">{{ "Redirect Type"|t }}</th>
                        <th scope="col">{{ "Hits"|t }}</th>
                        <th scope="col">{{ "Last Hit"|t }}</th>
                        <th class="thin right"></th>
                    </thead>
                    <tbody>

                        {% for redir in redirects %}
                            <tr data-id="{{ redir.id }}" data-name="{{ redir.redirectSrcUrl }}">
                                <td><a class="go" href="{{ url("retour/edit/" ~ redir.id) }}">{{ redir.redirectSrcUrl }}</a></td>
                                <td>{{ redir.redirectDestUrl }}</td>
                                <td>{{ matchesList[redir.redirectMatchType] }}</td>
                                <td>{{ redir.redirectHttpCode }}</td>
                                <td>{{ redir.hitCount }}</td>
                                <td>{{ redir.hitLastTime |datetime }}</td>
                                <td class="rightalign"><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        {% else %}
            <p id = "no-static-redirects" class="instructions">You have no Static Redirects.  You can create clicking on the <strong>+ New Static Redirect</strong> button.</p>
        {% endif %}

        <p class="textline"></p>

<!-- Entry Redirects -->

        <h2>{{ "Dynamic Entry Redirects" |t }}</h2>

        {% set redirects = craft.retour.getEntryRedirects() %}
        {% if redirects|length %}
            <div class="tableview">
                <table id="entry-redirects" class="data fullwidth">
                    <thead>
                        <th scope="col">{{ "Legacy URL Pattern"|t }}</th>
                        <th scope="col">{{ "Redirect To"|t }}</th>
                        <th scope="col">{{ "Pattern Match Type"|t }}</th>
                        <th scope="col">{{ "Redirect Type"|t }}</th>
                        <th scope="col">{{ "Hits"|t }}</th>
                        <th scope="col">{{ "Last Hit"|t }}</th>
                    </thead>
                    <tbody>

                        {% for redir in redirects %}
                            {% set associatedEntry = craft.entries.id(redir.associatedEntryId).locale(redir.locale).first %}
                            <tr data-id="{{ redir.id }}" data-name="{{ redir.redirectSrcUrl }}">
                                <td><a class="go" href="{{ associatedEntry.cpEditUrl }}">{{ redir.redirectSrcUrl }}</a></td>
                                <td>{{ redir.redirectDestUrl }}</td>
                                <td>{{ matchesList[redir.redirectMatchType] }}</td>
                                <td>{{ redir.redirectHttpCode }}</td>
                                <td>{{ redir.hitCount }}</td>
                                <td>{{ redir.hitLastTime |datetime }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="instructions">You have no Dynamic Entry Redirects.  You can create them by adding a Retour Redirect FieldType to your Section Entry Types.</p>
        {% endif %}

{% endset %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#static-redirects',
        noObjectsSelector: '#no-static-redirects',
        deleteAction: 'retour/deleteRedirect'
    });
{% endset %}
{% includeJs js %}
