{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% includeCssResource "retour/css/Retour.css" %}
{% includeJsResource "retour/js/Retour.js" %}

{% set title = craft.retour.getPluginName() %}

{% set docsUrl = "https://github.com/nystudio107/retour/blob/master/README.md" %}

{% set retourSections = {
    redirects:      { label: "Redirects"|t, url: url('retour/redirects') },
    statistics:     { label: "Statistics"|t, url: url('retour/statistics') },
    settings:       { label: "Settings"|t, url: url('retour/settings') },
} %}

{% set crumbs = [
    { label: craft.retour.getPluginName(), url: url('retour') },
    { label: "Statistics"|t, url: url('retour/statistics') },
] %}

{% if craft.app.version < 2.5 %}
    {% set tabs = retourSections %}
    {% set selectedTab = 'statistics' %}
{% else %}
    {% set subnav = retourSections %}
    {% set selectedSubnavItem = 'statistics' %}
{% endif %}

{% set content %}

        {% if tabs is defined %}
            {% include "_includes/tabs" %}
        {% endif %}

<!-- Staistics -->

        <h2>{{ "Retour Statistics" |t }}</h2>

        {% set stats = craft.retour.getStatistics() %}
        {% if stats|length %}
            <div class="tableview">
                <table id="statistics" class="data fullwidth">
                    <thead>
                        <th scope="col">{{ "404 File Not Found URL"|t }}</th>
                        <th scope="col">{{ "Hits"|t }}</th>
                        <th scope="col">{{ "Last Hit"|t }}</th>
                        <th scope="col">{{ "Handled by Retour"|t }}</th>
                    </thead>
                    <tbody>

                        {% for stat in stats %}
                            <tr data-id="{{ stat.id }}" data-name="{{ stat.redirectSrcUrl }}">
                                <td><a class="go" href="{{ url(stat.redirectSrcUrl) }}">{{ stat.redirectSrcUrl }}</a></td>
                                <td>{{ stat.hitCount }}</td>
                                <td>{{ stat.hitLastTime |datetime }}</td>
                                <td>{% if stat.handledByRetour %}<span style="color: green;">&#x2714;</span>{% else %}<span style="color: red;">&#x2716;</span>{% endif %}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        {% else %}
            <p id="no-statistics" class="instructions">You have no 404s yet.</p>
        {% endif %}

{% endset %}
